html {
  background: #112F41;
}

.backfaceVisibility {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.main-menu-title, .main-menu-play {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
}

.main-menu-play {
  font-size: 1rem;
}
